* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background 0.2s ease-in;
  font-family: "Montserrat", sans-serif, monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(134, 134, 134, 0.678);
}
